{%- assign item_title = 'customer.addresses.add_new' | t -%}
{%- capture item_body -%}
<div class="frm-Form fz-14_20">
  {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
    <div class="frm-Form_Row">
      {%- render 'address-form-field', 
        form: form, 
        field_name: "First Name",
        type: 'text',
        translation_key: 'customer.addresses.first_name',
        options: nil,
        required: true
      -%}
    </div>

    <div class="frm-Form_Row">
      {%- render 'address-form-field', 
        form: form, 
        field_name: "Last Name",
        type: 'text',
        translation_key: 'customer.addresses.last_name',
        options: nil,
        required: true
      -%}
    </div>

    <div class="frm-Form_Row">
      {%- render 'address-form-field', 
        form: form, 
        field_name: "Company",
        type: 'text',
        translation_key: 'customer.addresses.company',
        options: nil,
        required: true
      -%}
    </div>

    <div class="frm-Form_Row">
      {%- render 'address-form-field', 
        form: form, 
        field_name: "Address1",
        type: 'text',
        translation_key: 'customer.addresses.address1',
        options: nil,
        required: true
      -%}
    </div>

    <div class="frm-Form_Row">
      {%- render 'address-form-field', 
        form: form, 
        field_name: "Address2",
        type: 'text',
        translation_key: 'customer.addresses.address2',
        options: nil,
        required: false
      -%}
    </div>

    <div class="frm-Form_Row">
    {%- render 'address-form-field', 
      form: form, 
      field_name: "City",
      type: 'text',
      translation_key: 'customer.addresses.city',
      options: nil,
      required: true
    -%}
    </div>

    <div class="frm-Form_Row">
    {%- render 'address-form-field', 
      form: form, 
      field_name: "Country",
      type: 'select',
      translation_key: 'customer.addresses.country',
      options: nil,
      options_html: all_country_option_tags.
      required: true
    -%}
    </div>

    <div class="frm-Form_Row">
      {%- render 'address-form-field', 
        form: form, 
        field_name: "Province",
        type: 'text',
        translation_key: 'customer.addresses.province',
        options: nil,
        required: false
      -%}
    </div>

    <div class="frm-Form_Row">
      {%- render 'address-form-field', 
        form: form, 
        field_name: "Zip",
        type: 'text',
        translation_key: 'customer.addresses.zip',
        options: nil,
        required: true
      -%}
    </div>

    <div class="frm-Form_Row">
      {%- render 'address-form-field', 
        form: form, 
        field_name: "Phone",
        type: 'text',
        translation_key: 'customer.addresses.phone',
        options: nil,
        required: false
      -%}
    </div>

    <div class="frm-Form_Row">
      <div class="frm-Form_Checkbox">
        {{ form.set_as_default_checkbox }}
        <label class="frm-Form_Label" for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
      </div>
    </div>

    <div class="frm-Form_Row frm-Form_Row-last">
      <div class="frm-Form_Columns">
        <div class="frm-Form_Column">
          <button type="submit" class="btn-Button btn-Button-primary btn-Button-fullWidth">{{ 'customer.addresses.add' | t }}</button>
        </div>
        <div class="frm-Form_Column">
          <button type="reset" class="btn-Button btn-Button-secondary btn-Button-fullWidth">{{ 'customer.addresses.cancel' | t }}</button>
        </div>
      </div>
    </div>
  {%- endform -%}
</div>
{%- endcapture -%}

{%- render 'account-item',
  item_title: item_title,
  item_body: item_body
-%}