<script>
    (function(algolia) {
        'use strict';

        algolia.articlesTemplate = function articlesTemplate({ item, html, components }, itemLink) {
            return html `<a
                    href="${itemLink}"
                    class="aa-ItemLink"
            >
                <div class="aa-ItemWrapper">
                    <div class="aa-ItemContent">
                        <div class="aa-ItemContentBody">
                            <div class="aa-ItemContentTitle">
                                ${components.Highlight({ hit: item, attribute: 'title' })}
                            </div>
                        </div>
                    </div>
                </div>
            </a>`
        };
    })(window.algoliaShopify);
</script>
