<script>
(function(algolia) {
  'use strict';

  algolia.collectionsTemplate = function collectionsTemplate({ item, html, components }, itemLink) {
    const imageSrc = item.image === null ? "{{- 'algolia-collection-placeholder.png' | asset_url -}}" : item.image
    return html `<a
      href="${itemLink}"
      class="aa-ItemLink"
    >
      <div class="aa-ItemCollectionBody">
        <div class="aa-ItemCollectionContent">
          <p class="aa-ItemCollectionTitle">${components.Highlight({ hit: item, attribute: 'title' })}</p>

          <div class="aa-ItemCollectionArrow">
            {%- render 'bao-icon-chevron-right' -%}
          </div>
        </div>
      </div>
    </a>`
  };
})(window.algoliaShopify);
</script>
