<script>
  (function(algolia) {
    'use strict';

    function generateHighlightedTitle(title, term) {
      const lowercaseTitle = title.toLowerCase()
      const otherText = lowercaseTitle.split(term)

      return `${otherText[0]}<mark class="prd-Card_TitleMark">${term}</mark>${otherText[1]}`
    }

    algolia.instantSearchProductTemplate = function instantSearchProductTemplate(hit, html, components) {
      window.algoliaShopify.searchTerm = '{{ search.terms }}'
      let highlightedTitle = hit.title.toLowerCase()

      if(highlightedTitle.includes(window.algoliaShopify.searchTerm)) {
        highlightedTitle = generateHighlightedTitle(hit.title, window.algoliaShopify.searchTerm)
      }

      return html `
      <div data-algolia-index="${hit.index}" data-algolia-position="${hit.productPosition}" data-algolia-queryid="${hit.queryID}" data-algolia-objectid="${hit.objectID}" class="ais-hit ais-product prd-Card-async" data-handle="${hit.handle}" data-variant-id="${hit.objectID}" data-distinct="${hit._distinct}">
        <section-async id="${hit.id}" data-section-id="algolia-product-card" data-url="${algolia.helpers.instantsearchLink(hit)}" aria-busy="true" class="prd-Card-liquid">
          <div style="display:none" data-section-async-el="data">
            {
              "product_title": ${JSON.stringify(highlightedTitle)}
            }
          </div>
        </section-async>
        <div class="prd-Card prd-Card-algolia">
          <div class="prd-Card_OverlayContainer util-FauxLink">
            <a class="prd-Card_FauxLink util-FauxLink_Link" href="/products/${hit.handle}">
              <span class="util-ScreenReaderOnly">
                ${hit.title}
              </span>
            </a>

            <div class="prd-Card_Overlay">
              <div class="prd-Card_Images">
                <div class="prd-Card_Image">
                  <div class="rsp-Image" style="--Image_AspectRatio: 149.11764705882354%; aspect-ratio: 680 / 1014.0;">
                    <img
                      src="${algolia.helpers.grandeImage(hit)}"
                      alt="${hit.title}"
                      width="680" height="1020"
                      loading="lazy" class="rsp-Image_Image" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="prd-Card_Content">
            ${hit?.meta?.product_details?.strapline && html
            `<p class="prd-Card_Strapline fz-18_22">
              ${hit.meta.product_details.strapline}
            </p>
            `}
            <h3 class="prd-Card_Title fz-14_20">
              ${hit.title}
            </h3>
          </div>

          <footer class="prd-Card_Footer">
            <div class="prd-Card_Price fz-14_20">
              <p class="prd-Price">
                <span class="prd-Price_Price">${algolia.helpers.displayPrice(hit, hit._distinct)}</span>
              </p>
            </div>
          </footer>
        </div>
      </div>`
    };
  })(window.algoliaShopify);
</script>
