{{ 'article-card.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign article_category = ''

  for tag in article.tags
    assign lower_tag = tag | downcase
    
    if lower_tag contains 'category:'
      assign article_category = tag | remove: 'category: ' | remove: 'Category: '

      break
    endif
  endfor
-%}

<a href="{{ article.url }}" class="art-Card">
  <div class="art-Card_ImageContainer">
    <div class="art-Card_Image">
      {%- render 'responsive-image-metafield',
        image: article.metafields.images.card.first,
        width: 1000,
        height: 1000
      -%}
    </div>
  </div>

  <div class="art-Card_Content">
    <h2 class="art-Card_Title fz-24_29">
      {{ article.title | escape }}
    </h2>

    {%- if article_category != blank -%}
      <p class="art-Card_Category fz-13_13">
        {{- article_category -}}
      </p>
    {%- endif -%}
  </div>
</a>
