<modal-mobile-element class="mod-ModalMobile" aria-hidden="true">
  <div class="mod-ModalMobile_Outer">
    <button type="button" class="mod-ModalMobile_Close" data-el="modal-mobile-element.close">
      <span class="mod-ModalMobile_Icon mod-ModalMobile_Icon-close">
        {%- render 'bao-icon-close' -%}
      </span>
      <span class="util-ScreenReaderOnly">
        {{ 'accessibility.close' | t }}
      </span>
    </button>

    <div class="mod-ModalMobile_Inner">
      <img
        class="mod-ModalMobile_Image"
        src=""
      >
    </div>
  </div>
</modal-mobile-element>