<div class="clc-Items_Item clc-Items_Item-skeleton">
  <div class="prd-Card prd-Card-skeleton">
    <div class="prd-Card_OverlayContainer util-FauxLink">
      <div class="prd-Card_Overlay">
        <div class="prd-Card_Images">
          <div class="crd-Images">
            <div class="crd-Images_Image"></div>
          </div>
        </div>
      </div>
    </div>  
    <div class="prd-Card_Content">
      <p class="prd-Card_Kicker fz-12_12"></p>
      <p class="prd-Card_Strapline fz-18_22"></p>
      <h3 class="prd-Card_Title fz-14_20"></h3>    
    </div>
    <footer class="prd-Card_Footer">
      <p class="prd-Card_Price fz-14_20"></p>
      <div class="prd-Card_Colors">
        <span class="prd-Card_Color"></span>
        <span class="prd-Card_Color"></span>
        <span class="prd-Card_Color"></span>
      </div>
    </footer>
  </div>
</div>