{{ 'account.css' | asset_url | stylesheet_tag }}
{{ 'account-overview.css' | asset_url | stylesheet_tag }}
{{ 'account-orders.css' | asset_url | stylesheet_tag }}
{{ 'account-order.css' | asset_url | stylesheet_tag }}

{%- capture body -%}
<div class="acc-Overview">

  <div class="acc-Overview_Inner lyt-Container">

    <div class="acc-Overview_Columns">
      <div class="acc-Overview_Column">

        <div class="acc-Overview_Item acc-Overview_Item-orders">

          {%- render 'account-orders-recent' -%}

        </div>

      </div>
      <div class="acc-Overview_Column">

        <div class="acc-Overview_Item acc-Overview_Item-addresses">

          {%- render 'account-addresses-default' -%}

        </div>

      </div>
    </div>

  </div>

</div>
{%- endcapture -%}

{%- liquid
  assign title = 'customer.account.title' | t
-%}
{%- render 'account-layout',
  title: title,
  body: body
-%}
