{{ 'account-overview.css' | asset_url | stylesheet_tag }}

{%- capture body -%}
<div class="acc-Overview">

  <div class="acc-Overview_Inner lyt-Container">

    <div class="acc-Overview_Columns">
      <div class="acc-Overview_Column">

        <div class="acc-Overview_Item acc-Overview_Item-addresses">

          {%- render 'account-addresses-all' -%}

        </div>

      </div>
      <div class="acc-Overview_Column">

        <div class="acc-Overview_Item acc-Overview_Item-addAddress">

          {%- render 'account-addresses-add' -%}

        </div>

      </div>
    </div>

  </div>

</div>
{%- endcapture -%}

{%- liquid
  assign title = 'customer.addresses.title' | t
-%}
{%- render 'account-layout',
  title: title,
  body: body
-%}
