{{ 'account.css' | asset_url | stylesheet_tag }}

{%- capture body -%}
<div class="acc-Account_Inner lyt-Container">

  <div class="acc-Account_ContentContainer">
    <div class="acc-Account_Content acc-Account_Content-reset">
      {%- render 'account-form-reset' -%}
    </div>
  </div>

</div>
{%- endcapture -%}

{%- render 'section-account',
  body: body
-%}