{{ 'collection-list.css' | asset_url | stylesheet_tag }}

{%- capture body -%}
  <div class="clc-List">
    <div class="clc-List_Inner">
      <div class="clc-List_Body">
        {% comment %}theme-check-disable LiquidTag{% endcomment %}
        {%- for block in section.blocks -%}
          {%- if block.type == 'intro' -%}
            {%- render 'collection-list-intro',
              title: block.settings.title,
              text: block.settings.text
            -%}
          {%- elsif block.type == 'single-feature' -%}
            {%- render 'collection-list-single-feature',
              collection: block.settings.collection,
              title: block.settings.title,
              subtitle: block.settings.subtitle,
              content_style: block.settings.content_style,
              content_alignment: block.settings.content_alignment,
              button_text: block.settings.button_text,
              button_style: block.settings.button_style,
              image: block.settings.image
            -%}
          {%- elsif block.type == 'double-feature' -%}
            {%- render 'collection-list-double-feature',
              collection: block.settings.collection,
              title: block.settings.title,
              subtitle: block.settings.subtitle,
              content_style: block.settings.content_style,
              content_alignment: block.settings.content_alignment,
              button_text: block.settings.button_text,
              button_style: block.settings.button_style,
              image: block.settings.image
            -%}
          {%- endif -%}
        {%- endfor -%}
        {% comment %}theme-check-enable LiquidTag{% endcomment %}
      </div>
    </div>
  </div>
{%- endcapture -%}

{%- render 'section',
  margin: section.settings.section_margin,
  body: body
-%}

{% schema %}
{
  "name": "Collection List",
  "templates": ["list-collections"],
  "settings": [
    {
      "type": "header",
      "content": "Section style"
    },
    {
      "type": "select",
      "id": "section_margin",
      "label": "Section spacing",
      "options": [
        {
          "value": "spacingNone",
          "label": "None"
        },
        {
          "value": "spacingSmall",
          "label": "Small"
        },
        {
          "value": "spacingStandard",
          "label": "Standard"
        },
        {
          "value": "spacingLarge",
          "label": "Large"
        }
      ],
      "default": "spacingNone"
    }
  ],
  "blocks": [
    {
      "type": "intro",
      "name": "Intro",
      "settings": [
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "info": "Use enter to create a newline. Bold the part of text you want to be pink. Link is not supported."
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "info": "Use enter to create a newline."
        }
      ]
    },
    {
      "type": "single-feature",
      "name": "Single feature",
      "settings": [
        {
          "type": "header",
          "content": "Collection"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection",
          "info": "Select the collection to feature"
        },
        {
          "type": "paragraph",
          "content": "Below you can override what by default is pulled from selecting the collection."
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "select",
          "id": "content_style",
          "label": "Content style",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "light"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text override"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "quaternary",
              "label": "Quaternary"
            }
          ],
          "default": "quaternary"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "paragraph",
          "content": "All images should be run through https://squoosh.app/"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image override",
          "info": "Recommended size: 900px x 1350px"
        }
      ]
    },
    {
      "type": "double-feature",
      "name": "Double feature",
      "settings": [
        {
          "type": "header",
          "content": "Collection"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection",
          "info": "Select the collection to feature"
        },
        {
          "type": "paragraph",
          "content": "Below you can override what by default is pulled from selecting the collection."
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "select",
          "id": "content_style",
          "label": "Content style",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "light"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text override"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "quaternary",
              "label": "Quaternary"
            }
          ],
          "default": "quaternary"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "paragraph",
          "content": "All images should be run through https://squoosh.app/"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image override",
          "info": "Recommended size: 1820px x 1350px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection List"
    }
  ]
}
{% endschema %}