<style type="text/css">
    .template-landing .title + * {
      margin-top: 1rem;
    }
  
    @media screen and (min-width: 750px) {
      .template-landing .title + * {
        margin-top: 2rem;
      }
    }
  </style>
  
  
  <div class="template-landing page-width page-margin center">
    <p>
      {{ 'templates.404.subtext' | t }}
    </p>
    <h1 class="title">
      {{ 'templates.404.title' | t }}
    </h1>
    <a href="{{ routes.all_products_collection_url }}" class="button">
      {{ 'general.continue_shopping' | t }}
    </a>
    
  </div>
  