/*
|--------------------------------------------------------------------------
| Ancillary accordion
|--------------------------------------------------------------------------
| @namespace: anc
|
*/
.anc-Accordion_Header {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .anc-Accordion_Header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.anc-Accordion_Text {
  max-width: 455px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.anc-Accordion_Search {
  position: relative;

  margin-top: 20px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .anc-Accordion_Search {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

.anc-Accordion_Input {
  background-color: var(--Color_Grey-lightest);
  border-color: var(--Color_Grey-lightest);
}

.anc-Accordion_Icon-search {
  position: absolute;
  top: 50%;
  right: 20px;

  width: 16px;
  height: 16px;

  transform: translateY(-50%);
}

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.anc-Accordion_Items {
  border-bottom: 1px solid var(--Color_CoolPink);
}

.anc-Accordion-child .anc-Accordion_Items {
  border-bottom: 0;
}
