/*
|--------------------------------------------------------------------------
| Article header
|--------------------------------------------------------------------------
| @namespace: art
|
*/
.art-Header {
  text-align: center;
}

.art-Header_Author {
  margin-top: 10px;

  font-weight: 700;
}
