/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
| @namespace: btn-
|
*/
.btn-Button {
  position: relative;
  z-index: 1;

  display: inline-block;
  padding: 14px 30px;

  font-family: var(--Font_Family-headings);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;

  outline: none;
  overflow: hidden;

  transition: color, background-color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;

  white-space: nowrap;
}

.btn-Button-primary {
  background-color: var(--Color_Brand);
  border: 1px solid var(--Color_Brand);
  color: var(--Color_White);
}
.clc-ListFeature:hover .btn-Button-primary,
.btn-Button-primary:hover,
.btn-Button-primary:focus {
  background-color: var(--Color_White);
  color: var(--Color_Body);
}

.btn-Button-secondary {
  --btn-BackgroundColor: var(--Color_White);
  background-color: var(--btn-BackgroundColor);
  border: 1px solid var(--Color_Brand);
  color: var(--Color_Body);
}
.clc-ListFeature:hover .btn-Button-secondary,
.btn-Button-secondary:hover,
.btn-Button-secondary:focus {
  --btn-BackgroundColor: var(--Color_Brand);
  background-color: var(--Color_Brand);
  color: var(--Color_White);
}

.btn-Button-tertiary {
  background-color: var(--Color_Brand);
  border: 1px solid var(--Color_Brand);
  color: var(--Color_White);
}
.clc-ListFeature:hover .btn-Button-tertiary,
.btn-Button-tertiary:hover,
.btn-Button-tertiary:focus {
  background-color: var(--Color_CoolPink);
  border: 1px solid var(--Color_CoolPink);
  color: var(--Color_Brand);
}

.btn-Button-quaternary {
  background-color: var(--Color_CoolPink);
  border: 1px solid var(--Color_CoolPink);
  color: var(--Color_Brand);
}
.clc-ListFeature:hover .btn-Button-quaternary,
.btn-Button-quaternary:hover,
.btn-Button-quaternary:focus {
  background-color: var(--Color_Brand);
  border: 1px solid var(--Color_Brand);
  color: var(--Color_White);
}

.btn-Button-checkout {
  background-color: var(--Color_Russet);
  border-color: var(--Color_Russet);
  color: var(--Color_White);
}

.btn-Button-checkout:hover,
.btn-Button-checkout:focus {
  background-color: var(--Color_Brand);
  border-color: var(--Color_Brand);
  color: var(--Color_White);
}

.btn-Button-basic {
  padding: 0;

  border-bottom: 1px solid currentColor;
  color: currentColor;
}

.btn-Button-basic:hover,
.btn-Button-basic:focus {
  color: var(--Color_Grey-medium);
}

.btn-Button-borderless {
  border-color: var(--btn-BackgroundColor);
}

/*
|--------------------------------------------------------------------------
| Button sizings
|--------------------------------------------------------------------------
|
*/

.btn-Button-wide {
  min-width: 285px;
}
.btn-Button-wide.btn-Button-small {
  min-width: 220px;
}

.btn-Button-fullWidth {
  width: 100%;
}

.btn-Button-small {
  padding: 4px 15px;

  font-size: 13px;
  line-height: 19px;
}

/*
|--------------------------------------------------------------------------
| Arrows
|--------------------------------------------------------------------------
|
*/

.btn-Button_Arrow-white {
  position: relative;

  display: flex;
  width: 22px;
  height: 22px;

  background-color: var(--Color_White);
  border-radius: 50%;
}
.btn-Button_Arrow-white svg {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  transform: translate(-50%, -50%);
}

.btn-Button_Arrow-pink {
  position: relative;

  display: flex;
  width: 22px;
  height: 22px;

  background-color: var(--Color_CoolPink);
  border-radius: 50%;
}
.btn-Button_Arrow-pink svg {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  transform: translate(-50%, -40%);
}

.btn-Button_Arrow-pinkLarge {
  position: relative;

  display: flex;
  width: 25px;
  height: 25px;

  background-color: var(--Color_CoolPink);
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .btn-Button_Arrow-pinkLarge {
    width: 40px;
    height: 40px;
  }
}
.btn-Button_Arrow-pinkLarge svg {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  transform: translate(-50%, -40%);
}
@media only screen and (min-width: 768px) {
  .btn-Button_Arrow-pinkLarge svg {
    width: 15px;
    height: 15px;
  }
}

.btn-Button_Arrow-backtotop {
  position: relative;

  display: flex;
  width: 32px;
  height: 32px;

  background-color: var(--Color_White);
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: var(--Color_CoolPink);
  outline: none;

  transition: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
@media only screen and (min-width: 768px) {
  .btn-Button_Arrow-backtotop {
    width: 60px;
    height: 60px;
  }
}
.btn-Button_Arrow-backtotop svg {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 13px;
  height: 13px;

  /* stylelint-disable-next-line declaration-no-important */
  transform: translate(-50%, -50%) rotate(180deg) !important;
}
@media only screen and (min-width: 768px) {
  .btn-Button_Arrow-backtotop svg {
    width: 18px;
    height: 18px;
  }
}

@media only screen and (min-width: 901px) {
  .ft-Footer:hover .btn-Button_Arrow-backtotop,
  .ft-Footer:focus-within .btn-Button_Arrow-backtotop {
    background-color: var(--Color_Russet);
    color: var(--Color_White);
  }
}

.ft-Footer .btn-Button_Arrow-backtotop:hover,
.ft-Footer .btn-Button_Arrow-backtotop:focus {
  background-color: var(--Color_Brand);
  color: var(--Color_White);
}

/*
|--------------------------------------------------------------------------
| Tags
|--------------------------------------------------------------------------
|
*/

.btn-Button_Tag {
  display: inline-block;
  margin: 3px 0;
  padding: 5px 6px;

  font-family: var(--Font_Family-headings);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 12px;
  text-transform: uppercase;

  background-color: var(--Color_Grey-lightest);
  border-radius: 10px;
  color: var(--Color_Russet);
}
@media only screen and (min-width: 768px) {
  .btn-Button_Tag {
    padding: 3px 8px;

    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 20px;

    border-radius: 15px;

    transition: background-color 0.3s ease;
  }
  .btn-Button_Tag:hover,
  .btn-Button_Tag:focus {
    background-color: var(--Color_Grey-lighter);
  }
}

/*
|--------------------------------------------------------------------------
| Wishlist
|--------------------------------------------------------------------------
|
*/

.btn-Button_Wishlist {
  position: relative;

  display: block;
  min-width: 50px;
  width: 50px;
  height: 50px;

  margin-left: 10px;
  padding: 0;

  background-color: var(--Color_CoolPink);
}
.btn-Button_Wishlist svg {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 18px;
  height: 16px;

  transform: translate(-50%, -50%);
}

.btn-Button_Wishlist[data-wishlist-status="added"] svg {
  color: var(--Color_Red);
  fill: var(--Color_Red);
}
