/*
|--------------------------------------------------------------------------
| Checkout delivery estimates message
|--------------------------------------------------------------------------
| @namespace: chk
|
*/

.chk-DeliveryEstimates {
  margin-top: 20px;
  padding: 20px 30px;

  text-align: center;

  background-color: var(--Color_LightPink);
  color: var(--Color_Grey-50);
}

.chk-DeliveryEstimates_Date {
  display: block;
  margin-top: 2px;

  color: var(--Color_Brand);
}
