/*
|--------------------------------------------------------------------------
| Mobile nav
|--------------------------------------------------------------------------
| @namespace: drw
|
*/

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.drw-Nav_Header-hasImage {
  height: 240px;
  margin-bottom: 30px;

  background-size: cover;
}

.drw-Nav_HeaderImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.drw-Nav_Actions {
  align-items: center;
  justify-content: space-between;

  display: flex;
  width: calc(100% + 30px);
  margin: -10px -15px auto;
  padding: 10px 15px 0;

  border-bottom: 1px solid var(--Color_White-10);
}

.drw-Nav_Actions .drw-Drawer_Close {
  position: relative;

  width: 21px;
  height: 21px;

  background-color: #fff;
  border-radius: 50%;
  color: #000000;
}
.drw-Nav_Actions .drw-Drawer_Close svg {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  transform: translate(-50%, -50%);
}

.drw-Nav_Header-hasImage .drw-Nav_Actions {
  position: relative;
  z-index: 2;

  padding: 10px 15px;
}

.drw-Nav_Back {
  align-items: center;
  flex-flow: row nowrap;

  display: flex;
}

.drw-Nav_Header-hasImage .drw-Nav_Back {
  color: var(--Color_White);
}

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/

.drw-Nav_Item {
  position: relative;

  border-bottom: 1px solid var(--Color_Border);
}
.drw-Nav_Items-footer .drw-Nav_Item {
  border-bottom: 0;
}

.drw-Nav_Item-promo {
  padding-top: 40px;
}

.drw-Nav_Link {
  align-items: center;
  justify-content: space-between;

  display: flex;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: transparent;
  border: 0;
}
.drw-Nav_Header-hasImage .drw-Nav_Link-button {
  white-space: normal;

  position: absolute;
  right: 15px;
  bottom: -24px;
  left: 15px;
}
.drw-Nav_Items-footer .drw-Nav_Link {
  height: auto;
}

.drw-Nav_LinkIcon {
  display: flex;
  width: 10px;
  height: 10px;

  fill: var(--Color_Body);
}
.drw-Nav_LinkIcon-back {
  position: relative;

  display: block;
  width: 21px;
  height: 21px;
  margin-right: 15px;

  background-color: var(--Color_White);
  border-radius: 50%;
  color: #000000;
}
.drw-Nav_Svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-left: -1px;
  transform: translate(-50%, -50%);
}

/*
|--------------------------------------------------------------------------
| Link Text
|--------------------------------------------------------------------------
|
*/
.drw-Nav_LinkText {
  margin-right: auto;

  text-align: left;
}
.drw-Nav_LinkText-highlight {
  color: var(--Color_Red);
}

/*
|--------------------------------------------------------------------------
| Link Image
|--------------------------------------------------------------------------
|
*/

.drw-Nav_LinkImage {
  width: 40px;
  height: 40px;
  margin-right: 15px;

  border-radius: 50%;
  object-fit: cover;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
*/

.drw-Nav_Items-footer {
  padding: 20px 15px;

  text-transform: uppercase;
}

/*
|--------------------------------------------------------------------------
| Socials
|--------------------------------------------------------------------------
|
*/
.drw-Nav_Socials {
  flex-flow: row;

  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}

.drw-Nav_Social {
  margin-right: 20px;
}

.drw-Nav_Icon-social {
  width: 20px;
  height: 20px;
}

/*
|--------------------------------------------------------------------------
| Customer Menu
|--------------------------------------------------------------------------
|
*/
.drw-Nav_Items-customer {
  margin-top: 20px;

  background-color: var(--Color_CoolPink);
}

.drw-Nav_Items-customer .drw-Nav_Item {
  border-color: var(--Color_White);
}

.drw-Nav_Items-customer .drw-Nav_Link {
  flex-flow: row nowrap;

  display: flex;
  padding-right: 15px;
  padding-left: 15px;

  font-weight: 700;
  text-transform: uppercase;
}

.drw-Nav_Items-customer .drw-Nav_Icon {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

.drw-Nav_Icon-account {
  background-color: var(--Color_Brand);
  color: var(--Color_CoolPink);
}

.drw-Nav_Icon-account .drw-Nav_Svg {
  margin-top: -1px;
  margin-left: 0;
}

.drw-Nav_Items-customer .drw-Nav_Svg {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 18px;
  height: 18px;

  transform: translate(-50%, -50%);
}

.drw-Nav_Items-customer .drw-Nav_LinkText {
  margin-left: 10px;
}

/*
|--------------------------------------------------------------------------
| Currency
|--------------------------------------------------------------------------
|
*/
.drw-Nav_Currency {
  background-color: #fff;
}

.drw-Nav_Items-customer .drw-Nav_Link-currency {
  height: auto;

  font-weight: 400;
}
