/*
|--------------------------------------------------------------------------
| Loyalty Logged In
|--------------------------------------------------------------------------
| @namespace loy
|
*/

.loy-LoggedIn_Logo {
  max-width: 170px;
  margin: 0 auto 20px;
}

.loy-LoggedIn_PointsContainer {
  text-align: center;
}

.loy-LoggedIn_Points-pink {
  color: var(--Color_Russet);
}
