/*
|--------------------------------------------------------------------------
| Cart item
|--------------------------------------------------------------------------
| @namespace: crt-
|
*/
.psh-CartItem {
  display: flex;

  opacity: 1;

  transition: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.psh-CartItem[aria-busy='true'] {
  cursor: wait;
  opacity: 0.5;
}

.psh-CartItem_Content {
  flex-direction: column;

  display: flex;
  width: 100%;
}

.psh-CartItem_Header {
  align-items: baseline;
  justify-content: space-between;

  display: flex;
  margin-bottom: 5px;
}

.psh-CartItem_HeaderText {
  flex-direction: column;

  display: flex;
}

.psh-CartItem_HeaderPrice {
  justify-content: flex-end;

  display: flex;
}

.psh-CartItem_Strapline {
  font-family: var(--Font_Family-headings);
  font-weight: 700;
  text-transform: uppercase;
}

.psh-CartItem_Price {
  margin-left: auto;
  white-space: nowrap;
}

.psh-CartItem_Price-sale {
  margin-left: 5px;

  color: var(--Color_Red);
}

.psh-CartItem_Price-compare {
  position: relative;

  text-decoration: none;
}
.psh-CartItem_Price-compare::before {
  content: '';

  position: absolute;
  top: 56%;
  left: 0;

  display: block;
  width: 100%;

  border-top: 1px solid var(--Color_Body);
}

/*
|--------------------------------------------------------------------------
| Options
|--------------------------------------------------------------------------
|
*/

.psh-CartItem_Options {
  margin-top: 5px;
}

/*
|--------------------------------------------------------------------------
| Image
|--------------------------------------------------------------------------
|
*/
.psh-CartItem_ImageContainer {
  flex-shrink: 0;

  width: 100px;
  margin-right: 15px;
}

/*
|--------------------------------------------------------------------------
| Controls
|--------------------------------------------------------------------------
|
*/
.psh-CartItem_Controls {
  align-items: center;
  flex-flow: row nowrap;

  display: flex;
  margin-top: auto;
  padding-top: 20px;
}

.psh-CartItem_Remove {
  display: flex;
  margin-top: 10px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: var(--Color_Grey-50);
  white-space: nowrap;

  transition: color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.psh-CartItem_Remove:hover,
.psh-CartItem_Remove:focus {
  color: var(--Color_Grey);
}

/*
|--------------------------------------------------------------------------
| Select
|--------------------------------------------------------------------------
|
*/
.psh-CartItem_SelectContainer {
  position: relative;

  width: 100%;
  height: 44px;

  border: 1px solid var(--Color_Grey-lighter);
}

.psh-CartItem_SelectContainer-variant {
  margin-right: 5px;
}
@media only screen and (min-width: 901px) {
  .psh-CartItem_SelectContainer-variant {
    margin-right: 10px;
  }
}

.psh-CartItem_Select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 0 0 0 10px;

  -webkit-appearance: none;
  appearance: none;
  background-color: var(--Color_White);
  /* stylelint-disable-next-line declaration-no-important */
  background-image: none !important;
  border: 0 none;
  color: var(--Color_Brand);
}

.psh-CartItem_SelectIndicator {
  position: absolute;
  top: 50%;
  right: 10px;

  width: 10px;
  height: 6px;

  color: var(--Color_Brand);
  
  transform: translateY(-50%);
  pointer-events: none;
}
