/* stylelint-disable */
/* Base */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Password Section */

.full-height {
  height: 100%;
}

.password {
  height: 100%;

  background-color: var(--color-background);
}

.password-link {
  align-items: center;

  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}

.password-link svg {
  width: 2rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.password-modal {
  background-color: var(--color-background);
}

.password-modal__content {
  align-items: center;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4.5rem 3.2rem;

  text-align: center;
}

.password-modal .password-form {
  max-width: 50rem;
}

.password-form {
  align-items: center;
  flex-wrap: wrap;

  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.password-field.field {
  flex: 1 20rem;

  display: block;
}

.password-field .form__message {
  margin-top: 1.5rem;
}

.password-button {
  width: 100%;
  margin-top: 3rem;
}

@media only screen and (max-width: 749px) {
  .password-field--error + .password-button {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 750px) {
  .password-button {
    align-self: start;

    width: auto;
    margin-top: 0;
    margin-left: 2rem;
  }
}

.password-logo {
  width: 100%;
}

.password-heading {
  margin-top: 5rem;

  font-weight: 400;
}

.password-main {
  flex-grow: 1;
}

.password-main > section:only-child {
  height: 100%;
}

.password-main > section:only-child > .newsletter {
  align-items: center;
  justify-content: center;

  display: flex;
  height: 100%;
  margin-top: 0;
}

.password-main > section:only-child .newsletter__wrapper {
  width: 100%;
}

.password-main > section:only-child > :not(.newsletter--narrow) > .newsletter__wrapper {
  flex-direction: column;
  justify-content: center;

  display: flex;
  height: 100%;
}

.password__footer-login {
  margin-top: 1.2rem;
  padding-bottom: 4rem;
}

.password-modal .icon-close {
  color: var(--color-foreground);
}

.password__footer {
  align-items: center;
  flex-direction: column;

  display: flex;
  padding-top: 4rem;

  background-color: var(--color-background);
  color: var(--color-foreground);
}

hr {
  margin: 0 !important;
}

.list-social:not(:empty) + .password__footer-caption {
  margin-top: 3rem;
}

.password__footer-caption a {
  padding: 0;

  color: var(--color-outline-button-labels);
}

.modal__toggle,
.modal__close-button {
  list-style-type: none;
}

.modal__close-button {
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;

  padding: 0.8rem;

  background-color: transparent;
  color: var(--color-foreground);
}

.no-js .modal__close-button {
  display: none;
}

.no-js .modal__toggle {
  z-index: 2;
}

.modal__toggle::-webkit-details-marker {
  display: none;
}

details.modal .modal__toggle-close {
  display: none;
}

details[open].modal .modal__toggle-close {
  z-index: 1;

  display: flex;
  padding: 0.8rem;

  background: var(--color-background-1);
  cursor: pointer;
}

details[open].modal .modal__toggle-close svg,
.modal__close-button svg {
  width: 1.7rem;
  height: 1.7rem;
}

details[open].modal .modal__toggle-close:hover {
  opacity: 0.75;
}

.js details[open].modal .modal__toggle-close {
  display: none;
}

details.modal .modal__toggle-open {
  display: flex;
}
.modal__toggle-open {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 3;
}
.modal__toggle-open svg {
  width: 16px;
  height: 21px;
}

.no-js details[open].modal .modal__toggle-open {
  display: none;
}

.modal__content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  align-items: center;
  justify-content: center;

  display: flex;

  font-family: var(--Font_Family-body);

  background-color: #fff;
}

.modal__content * {
  font-family: var(--Font_Family-body);
}

.password-header {
  position: relative;

  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 1.5rem 2.5rem;

  background-color: var(--color-background);
  color: var(--color-foreground);
}

@media only screen and (min-width: 750px) {
  .password-header {
    flex-direction: row;

    padding: 2rem 5rem 2.5rem;
    gap: 3rem;
  }
}

.password-header details-modal {
  flex-shrink: 0;
}

@media only screen and (max-width: 749px) {
  .password-content {
    margin-bottom: 1rem;

    text-align: center;
  }
}

.shopify-name {
  position: absolute;

  width: 1px;
  height: 1px;

  overflow: hidden;
}

.icon-shopify {
  width: 7rem;
  height: 2rem;
  vertical-align: top;

  color: var(--color-text);
}

.frm-Form_Row {
  width: 100%;
}
/* stylelint-enable */
