{%- if page.content != blank -%}
  <div class="pg-Content_Text{% unless page.handle == "unidays" %} rte-RichText{% endunless %}">
    {{ page.content }}
  </div>
{%- endif -%}

<style>

p.OPRewardsTitle{
  text-transform: uppercase;
  color: black;
  text-align:center;
  font-weight: bold;
  margin-left:auto;
  margin-right:auto;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size:18px;
  letter-spacing: 0.1em;
}


p.OPRewardsParagraph{
  text-transform: uppercase;
  width:90%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size:18px!important;
}


p.OPRewardsPrivacy{
  text-transform: uppercase;
  width:90%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size:12px;
}

.OPRewardsContainer {
  width:60%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 50px;
  padding-top: 160px;
  padding-left:20px;
  padding-right:20px;
}

.OPKlaviyoForm {
  margin-left:auto;
  margin-right:auto;
  padding: 30px 50px;
  margin-top: 150px!important;
  background: rgba(255, 223, 223, 0.7);
}

body {
  background-image: url("https://cdn.shopify.com/s/files/1/0594/1506/8881/files/DesktopImage-LP_6f7cfe1e-2f1f-4a8d-b8e3-f9139d3f75ae.jpg?v=16647808547");
  background-repeat: no-repeat;
  background-position: right 100px;
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (max-width:650px) {
  .OPRewardsContainer {
    width:95%;
    padding-top: 50px!important;
  }

  p.OPRewardsParagraph{
    width:100%;
    font-size:13px!important;
  }

  p.OPRewardsTitle {
    width:100%;
  }

  body{
      background-image: url("https://cdn.shopify.com/s/files/1/0594/1506/8881/files/MobileImage-LP_9042a22e-adf7-4db0-a26d-2837d3c5ea53.jpg?v=1664780790");
      background-size: auto 70%;
      background-attachment: fixed;
      background-position: center 10px;
  }
}
</style>